html, body{
   overflow-x: hidden;
 }

 body {
   font-family: "Lato", Helvetica, Arial, sans-serif;
   color:#333333;
   letter-spacing: 1px;
 }
 h1, h2, h3, h4, h5, h6 {
   font-family: "Lato", Helvetica, Arial, sans-serif;
 }

 h1 {
   letter-spacing: 3px;
   font-size: 32px;
 }

 h2 {
   font-size:22px;
   font-weight: bold;
   margin-bottom: 5px;
 }
 p {
   font-size:14px;
   line-height: 19px;
   font-weight: 100;
 }

 /* GRID */
 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
 }
 .container:before,
 .container:after {
   content: " ";
   display: table;
 }
 .container:after {
   clear: both;
 }
 .one-half, .one-third, .one-fourth {
   width:96%;
   float:left;
   position:relative;
   min-height: 1px;
   margin:0 2% 20px;
 }

@media (min-width: 768px) {
   .container {
     width: 750px;
   }
 }
 @media (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
 }
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 }



.navbar {
   margin: 20px auto;
}

.navbar a {
   text-decoration: none;
   color: #5BBCC9;
}

.navbar ul {
   list-style-type: none; 
   padding: 0px;
}

.navbar li {
   display: inline-block;
   margin: 0px 15px;
   font-size: 12px;
}

.navbar div {
   display: inline-block;
}

.site-logo {
   margin: 0px 0px 0px 75px;
}

.nav-sections {
   vertical-align: top;
   margin-left: 20px;
}

.signinup {
   float: right;
   margin-right: 150px;
}

.hero {
   background-image: url("../images/hero-homepage.png");
   height: 827px;
   text-align: center;
   color: #FFFFFF;
}

.hero h1 {
   padding-top: 300px;
}

.hero p {
   margin-bottom: 30px;
}

 /* BUTTONS */
 .btn {
   color: #FFFFFF;
   font-weight: 400;
   font-size: 12px;
   letter-spacing: 1px;
   text-decoration: none;
   padding:10px 30px;
   background: #F4AF3E;
 }

 @media (max-width: 1000px) {
   .container {
     width: 750px;
   }
   .left-side {
      display: none !important;
   }
 }

 /* FEATURES */
 .features {
   text-align: center;
   display:block;
   position:relative;
 }
 .features ul {
   margin: 0 auto;
   padding:4em 0;
 }
 .features ul li {
   list-style-type: none;
   display: inline-block;
 }
 .features i {
   color:#092930;
   font-size:45px;
   margin:0;
   vertical-align: middle;
 }
 .features h2 {
   color:#092930;
 }

 /* PRICING */
 .pricing {
   background-color:#092930;
   background-size:cover;
   text-align: center;
   padding:4em 0;
 }
 .pricing h2, .pricing p {
   color:#FFFFFF;
 }
 .pricing ul {
   margin:0 auto;
   padding:2em 0;
 }
 .pricing ul li {
   list-style-type: none;
 }

 .box {
   padding:0 0px 40px;
   border: 2px solid #FFFFFF;
   border-color: #FFFFFF;
   min-height: 300px;
   min-width: 300px;
   position: relative;
   margin-top: 20px;
 }
 .box.middle {
   min-height: 340px;
   min-width: 340px;
   margin-top:0px;
   background-color: #FFFFFF;
 }

.box.middle h3 {
   padding-top: 30px;
   color: #092930;
}

.box.middle h4 {
   color: #092930;
}

.box.middle h4 span.month {
   color: #092930;
}

.box.middle ul li {
   color: #092930;
}

 .box h3 {
   font-family: "Lato", Helvetica, Arial, sans-serif;
   font-weight: 600;
   color: #FFFFFF;
   text-transform: uppercase;
   left:0;
   right:0;
   top:0;
   text-align: center;
   margin:0 -15px 40px;
   padding:20px 0px 0px 0px;
 }

 .box h4 {
   font-size:50px;
   font-weight: normal;
   margin: 10px 0 0px;
   color:#FFFFFF;
 }
 .box h4 span {
   font-size:32px;
   vertical-align: top;
 }
 .box h4 span.month {
   font-family: "Lato", Helvetica, Arial, sans-serif;
   font-weight: 100;
   color:#FFFFFF;
   font-size:20px;
   vertical-align: middle;
 }
 .box ul li {
   color: #FFFFFF;
   font-size:14px;
   margin-bottom:10px;
   font-weight: 100;
 }

  .box .btn {
   position:absolute;
   bottom:20px;
   left:20px;
   right:20px;
 }
 .small {
   font-size: 12px;
   color: #FFFFFF;
   line-height: 15px;
   font-style:italic;
 }

 /* TESTIMONIALS */
 .testimonials {
   padding:4em 0;
   text-align: center;
 }
 .testimonials h2 {
   color:#092930;
 }
 .testimonials ul li {
   list-style-type: none;
 }
 .testimonials blockquote {
   color:#FFFFFF;
   text-align: left;
   font-style: italic;
   font-weight: 100;
   font-size: 14px;
   background:#5BBCC9;
   position: relative;
   padding:30px;
   width:auto;
   margin:0;
 }
 .testimonials blockquote:after {
   top: 100%;
   left: 13%;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
   border-top-color: #5BBCC9;
   border-width: 10px;
   margin-left: -10px;
 }

  .testimonials img {
   height: 65px;
   width: 65px;
   border-radius:50%;
   float: left;
   display: inline-block;
   margin:20px 10px 0 0;
 }
 .testimonials p.name {
   float: left;
   display: inline-block;
   text-align: left;
   font-size:13px;
   margin-top: 30px;
 }

/*

 .container {
   margin-right: auto;
   margin-left: auto;
   padding-right: 15px;
   position: relative;
 }
 .container:before,
 .container:after {
   content: " ";
   display: ;
 }
 .container:after {
   clear: both;
 }
 .one-half, .one-third, .one-fourth {
   width:96%;
   float:left;
   position:relative;
   min-height: 1px;
   margin:0 2% 20px;
 }

 .row-blue {
   background-color: #5BBCC9;
 }

 .left-side {
   display: inline-block;
   width:800px;
   vertical-align: middle;
   text-align: center;
   margin: auto;
 }

 .left-p {
   width: 300px;
   text-align: center;
   margin: auto;
 }

 .right-side {
   display: inline-block;
   width:500px;
   text-align: center;
   vertical-align: middle;
   margin: auto;
 }
 */